<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_user_id" jdbcType="INTEGER" property="orderUserId" />
    <result column="order_create_time" jdbcType="TIMESTAMP" property="orderCreateTime" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
    <result column="order_last_update_time" jdbcType="TIMESTAMP" property="orderLastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, order_user_id, order_create_time, order_state, order_last_update_time
  </sql>

  <select id="getAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from order;
  </select>

  <select id="getCount" resultType="int">
    SELECT count(*) from order;
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Order">
    insert into order (id, order_id, order_user_id, 
      order_create_time, order_state, order_last_update_time
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{orderUserId,jdbcType=INTEGER}, 
      #{orderCreateTime,jdbcType=TIMESTAMP}, #{orderState,jdbcType=INTEGER}, #{orderLastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderUserId != null">
        order_user_id,
      </if>
      <if test="orderCreateTime != null">
        order_create_time,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="orderLastUpdateTime != null">
        order_last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderUserId != null">
        #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null">
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="orderLastUpdateTime != null">
        #{orderLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Order">
    update order
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderUserId != null">
        order_user_id = #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null">
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="orderLastUpdateTime != null">
        order_last_update_time = #{orderLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Order">
    update order
    set order_id = #{orderId,jdbcType=VARCHAR},
      order_user_id = #{orderUserId,jdbcType=INTEGER},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      order_state = #{orderState,jdbcType=INTEGER},
      order_last_update_time = #{orderLastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>