<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StudentDao">
    <select id="getStudentByid" parameterType="int" resultType="com.example.demo.pojo.Student">
        select * from student where id=#{id}
    </select>

    <select id="getStuentList" resultType="student">
        select * from student
    </select>

</mapper>